<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<title>Calculator</title>
</head>

<body>
	<form id="ADD">
		<input type="number" name="addx" id="addx" placeholder="X" required/>
		+
		<input type="number" name="addy" id="addy" placeholder="Y" required/>
		<button type="button" form="ADD" value="Submit" onclick="add()">ADD</button> = <input name="add_result" id="add_result" disabled/>
	</form>
	<br><br>

	<form action="{{ url_for('subtract') }}" method="POST" id="SUB">
		<input type="number" name="subx" id="subx" placeholder="X" required/>
		-
		<input type="number" name="suby" id="suby" placeholder="Y" required/>
		<button type="submit" form="SUB" value="Submit" onclick="add()">SUB</button> = <input name="add_result" id="add_result" disabled/>
	</form>
	<br><br>

	<form action="{{ url_for('multiply') }}" method="POST" id="MUL">
		<input type="number" name="mulx" id="mulx" placeholder="X" required/>
		*
		<input type="number" name="muly" id="muly" placeholder="Y" required/>
		<button type="submit" form="MUL" value="Submit" onclick="add()">MUL</button> = <input name="add_result" id="add_result" disabled/>
	</form>
	<br><br>

	<form action="{{ url_for('divide') }}" method="POST" id="DIV">
		<input type="number" name="divx" id="divx" placeholder="X" required/>
		/
		<input type="number" name="divy" id="divy" placeholder="Y" required/>
		<button type="submit" form="DIV" value="Submit" onclick="add()">DIV</button> = <input name="add_result" id="add_result" disabled/>
	</form>
	<br><br>

	<script>
		function add(){
			var xhttp = new XMLHttpRequest();
			xhttp.open("POST", "{{ url_for('add') }}", true)
			xhttp.responseType = 'json'
			output = "result!!";
			xhttp.onload = function(e){
				if(this.status == 200){
					console.log("hey!!");
				}
			};
			document.getElementById("add_result").value = output;
			xhttp.send();
		}
	</script>
</body>

</html>